* {
	font-family: Arial, Helvetica, sans-serif;
}

.green {
	color:green;
}

.red {
	color: red;
}

.metrics-enclosure {
	height: 200px;
	overflow: auto;
	margin-top: 4px;
	margin-bottom: 4px;
}

.metrics {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-row-gap: 4px;
	grid-column-gap: 10px;
	font-size: x-small;
}

.timestamp {
	margin-left: 10px;
	font-size: small;
}
